<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>自定义菜单管理</title>
</head>
<body>

<h1>自定义菜单管理</h1>

<a href="{{ url_for('createMenu') }}">创建菜单</a>
<a href="{{ url_for('deleteMenu') }}">删除菜单</a>
<a href="{{ url_for('getMenu') }}">查询菜单</a>
<br>



{% if msg %}
<h2>操作：{{msg}}</h2>
{% endif %}

{% if errmsg %}
<h2>errcode: {{ errcode }}</h2>
<h2>errmsg: {{ errmsg }}</h2>
{% endif %}

{% if result %}
<h2>菜单名称：{{result['menu']['button'][0]['name']}},{{result['menu']['button'][1]['name']}}</h2>
{% endif %}

</body>
</html>